{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Programming Courses | Welcome{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'favicon.jpg' %}"> 
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="lava-background">
        <div class="animation">Just do it...</div>
    </div>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'courses' %}">Courses</a></li>
                <li><a href="{% url 'buying' %}">Buying</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>
